<table class="table table-hover" index="index">
    <thead>
        <tr>
            <th *ngFor="let col of cols">{{ col.title }}</th>
            <th *ngIf="colRouterLink">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of data; index as i">
            <td *ngFor="let col of cols">
                <ng-container
                *ngTemplateOutlet="fieldDataTemplate;
                context: { fielData: col.subField && item[col.field] ? item[col.field][col.subField] : item[col.field] }">
                </ng-container>
                <ng-template #fieldDataTemplate let-fielData="fielData">
                        <ng-container [ngSwitch]="col.type">

                            <ng-container *ngSwitchCase="colType.INDEX">
                                {{ i + 1 }}
                            </ng-container>

                            <ng-container *ngSwitchCase="colType.IMAGE">
                                <img class="small-flag" [src]="fielData">
                            </ng-container>

                            <ng-container *ngSwitchCase="colType.TEXT">
                                {{ fielData }}
                            </ng-container>

                            <ng-container *ngSwitchCase="colType.NUMBER">
                                {{ fielData | number }}
                            </ng-container>

                        </ng-container>
                </ng-template>
            </td>
            <td *ngIf="colRouterLink">
                <a [routerLink]="[colRedirectUrlLink, item.ccn3]" routerLinkActive="router-link-active" > Ver</a>
            </td>
        </tr>
    </tbody>
</table>