
<div class="row">
    <div class="col">
        <form (ngSubmit)="find()" autocomplete="off">
            <input 
                type="text"
                name="termino"
                class="form-control"
                placeholder="Buscar país..."
                [(ngModel)]="valueToFind">
        </form>
    </div>
</div>

<hr>

<div *ngIf="isErrorHttp" class="alert alert-danger">
    No se ha encontrado nada con el término de busqueda
</div>

<div *ngIf="!isErrorHttp && data.length > 0" class="row">
    <div class="col">
        <app-generic-table 
            [data]="data"
            [cols]="cols"
            [colRouterLink]="colRouterLink"
            [colRedirectUrlLink]="colRedirectUrlLink">
        </app-generic-table>
    </div>
</div>
