<!-- Si es una region -->
<h5 *ngIf="regionsField.length > 0"> Seleccione la región </h5>

<!-- Si no es una region -->
<div *ngIf="(regionsField.length === 0); else regionContent" class="row">
    <div class="col">
        <form (ngSubmit)="find()" autocomplete="off">
            <input 
                type="text"
                name="termino"
                class="form-control"
                placeholder="Buscar país..."
                [(ngModel)]="valueToFind"
                (input)="keyPressed()">
        </form>
    </div>
</div>

<ng-template #regionContent  class="row">
    <div class="col">
        <button
            style="margin-right: 5px;"
            class="btn btn-outline-primary"
            *ngFor="let region of regionsField"
            (click)="regionSelected(region)">{{region.value_es}}
        </button>
    </div>
</ng-template>

<hr>

<!-- Contenido de la tabla -->
<div *ngIf="!isErrorHttp && data.length > 0" class="row">
    <div class="col">
        <app-generic-table 
            [data]="data"
            [cols]="cols"
            [colRouterLink]="colRouterLink"
            [colRedirectUrlLink]="colRedirectUrlLink">
        </app-generic-table>
    </div>
</div>

<!-- Mensaje en caso de tabla vacia -->
<div *ngIf="isErrorHttp" class="alert alert-danger">
    No se ha encontrado nada con el término de busqueda
</div>