<h2>Por Pais</h2>

<hr>

<div class="row">
    <div class="col">
        <form (ngSubmit)="findCountry()" autocomplete="off">
            <input 
                type="text"
                name="termino"
                class="form-control"
                placeholder="Buscar país..."
                [(ngModel)]="valueToFind">
        </form>
    </div>
</div>

<hr>

<div *ngIf="isErrorHttp && countries.length === 0" class="alert alert-danger">
    No se ha encontrado nada con el término de busqueda
</div>

<div *ngIf="!isErrorHttp && countries.length > 0" class="row">
    <div class="col">
        <table class="table table-hover" index="index">
            <thead>
                <tr>
                    <th>Nº</th>
                    <th>Bandera</th>
                    <th>Nombre</th>
                    <th>Población</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let country of countries; index as i">
                    <td>
                        {{ i+1 }}
                    </td>
                    <td>
                        <img class="small-flag" [src]="country.flags.svg">
                    </td>
                    <td>
                        {{ country.name.common }}
                    </td>
                    <td>
                        {{ country.population | number }}
                    </td>
                    <td>
                        <img class="small-flag">
                    </td>
                    <td>
                        <a [routerLink]="['/pais', country.ccn3]" routerLinkActive="router-link-active" > Ver</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
